<div class="page-bar" style="padding-top: 5px; padding-bottom: 5px; margin-left: -20px; margin-right: -20px; margin-top: -25px; background: #FFFFFF; border-bottom: solid red 1px">
  <ul class="page-breadcrumb">
    <li>
      <a href="#/system">Home</a>
      <i class="fa fa-circle"></i>
    </li>
    <li>
      <a href="#/loginlog">登陆记录</a>
    </li>
  </ul>
</div>
<div>

  <div class="portlet light bordered">
    <div class="portlet-title">
      <!--<div class="caption font-dark">-->
      <!--<i class="icon-settings font-dark"></i>-->
      <!--<span class="caption-subject bold uppercase"> 我的文章 </span>-->
      <!--</div>-->
      <div class="caption">
        <i class="glyphicon icon-book"></i>
        <span class="caption-subject font-green sbold uppercase">登陆记录</span>
      </div>
    </div>
    <div class="portlet-body">
      <div class="table-toolbar">
        <div class="row">
          <div class="col-md-6">
            <!--<div class="btn-group">-->
              <!--<a href="javascript:;" class="btn sbold green" ng-click="selectAll()" > Add New-->
                <!--<i class="fa fa-plus"></i>-->
              <!--</a>-->
            <!--</div>-->
          </div>
          <div class="col-md-6">
            <div class="btn-group pull-right">
              <button class="btn green  btn-outline dropdown-toggle" data-toggle="dropdown"> Tools
                <i class="fa fa-angle-down"></i>
              </button>
              <ul class="dropdown-menu pull-right">
                <li >
                  <a href="javascript:;" ng-click="list()">
                    <i class="fa fa-print"></i> 删除 </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <table class="table table-striped table-bordered table-hover table-checkable order-column" id="table">
        <thead>
        <tr>
          <th>
            <input type="checkbox" class="group-checkable"/> </th>
          <th class="center"><span class="glyphicon glyphicon-th-large"></span> <span class="visible-lg">ID</span></th>
          <th class="center"><span class="glyphicon glyphicon-user"></span> <span class="visible-lg">用户</span></th>
          <th class="center"><span class="glyphicon glyphicon-adjust"></span> <span class="visible-lg">登陆地</span></th>
          <th class="center"><span class="glyphicon glyphicon-adjust"></span> <span class="visible-lg">IP</span></th>
          <th class="center"><span class="glyphicon glyphicon-time"></span> <span class="visible-lg">时间</span></th>
          <th class="center"><span class="glyphicon glyphicon-remove"></span> <span class="visible-lg">删除</span></th>
        </tr>
        </thead>
        <tbody>
        <tr class="odd gradeX" ng-repeat="x in loginlogs">
          <td>
            <input type="checkbox" class="checkboxes" value="1" name="checkbox[]" /> </td>
          <td class="center"> {{x.id}} </td>
          <td class="center">{{x.loginUserName}}</td>
          <td class="center"> {{x.loginAddress}} </td>
          <td class="center"> {{x.loginIp}} </td>
          <td class="center"> {{x.loginTime | date:'yyyy-MM-dd HH:mm:ss'}} </td>
          <td class="center">
            <span class="center"><a href="javascript:;">删除</a></span>
          </td>
        </tr>
        </tbody>
      </table>
      <s-pagination conf="loginlogConfig"></s-pagination>
    </div>
  </div>

</div>
<script>
//是否确认删除
$(function(){   
	$("#main table tbody tr td a").click(function(){
		var name = $(this);
		var id = name.attr("rel"); //对应id  
		if (event.srcElement.outerText === "删除") 
		{
			if(window.confirm("此操作不可逆，是否确认？"))
			{
				$.ajax({
					type: "POST",
					url: "/Loginlog/delete/action/one",
					data: "id=" + id,
					cache: false, //不缓存此页面   
					success: function (data) {
						window.location.reload();
					}
				});
			};
		};
	});   
});
</script>